@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.bg-purple-principal{
    background-color:#DABEEE;
}
.bg-purple-secondary{
    background-color:#CEA1D6;
}
.bg-purple-terciary{
    background-color:#CEA1D6;
}
.bg-blue-principal{
    background-color:#BCB9F7;
}
.bg-pink-principal{
    background-color:#F7B9E8;
}
.no-underline{
    text-decoration: none
}
.no-underline:hover{
    text-decoration: none
}
.font-archivo{
    font-family: 'Archivo', sans-serif;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.text-3xs{
    font-size:8px;
}
.text-2xs{
    font-size:10px;
}
.text-xs{
    font-size:12px;
}
.text-sm{
    font-size:14px;
}
.text-md{
    font-size:16px;
}
.text-lg {
    font-size: 18px;
}
.text-xl{
    font-size: 20px;
}
.pt-20{
    padding-top: 150px;
}
.btn-login:hover {
    cursor: pointer;
    background-color:#CEA1D6;
}
.h-20{
    height: 40px !important;
}
.right-50{
    transform: translateX(50%);
}
.rounded-lg{
    border-radius: 16px;
}
.border-2 {
    border: 2px solid #BCB9F7
}
.h-40{
    height: 80px !important;
}